/**
 * @name DiscordRecolor
 * @description Allows you to customize Discord's native Color Scheme
 * @author DevilBro
 * @version 1.0.0
 * @authorId 278543574059057154
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://mwittrien.github.io/
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/DiscordRecolor/
 * @updateUrl https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.theme.css
 */

/* To change the colors, change the variables inside the root {}, do NOT change the @import url() */

/* @import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css); */

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css);

.theme-dark, .theme-light {
	--text-positive: rgb(var(--successcolor));
	--text-warning: rgb(var(--warningcolor));
	--text-danger: rgb(var(--dangercolor));
	--info-positive-background: rgba(var(--successcolor),.1);
	--info-positive-foreground: rgb(var(--successcolor));
	--info-positive-text: #fff;
	--info-warning-background: rgba(var(--warningcolor),.1);
	--info-warning-foreground: rgb(var(--warningcolor));
	--info-warning-text: #fff;
	--info-danger-background: rgba(var(--dangercolor),.1);
	--info-danger-foreground: rgb(var(--dangercolor));
	--info-danger-text: #fff;
	--status-positive-background: rgb(var(--successcolor));
	--status-positive-text: #fff;
	--status-warning-background: rgb(var(--warningcolor));
	--status-warning-text: #fff;
	--status-danger-background: rgb(var(--dangercolor));
	--status-danger-text: #fff;
	--header-primary: rgb(var(--textbrightest));
	--header-secondary: rgb(var(--textbright));
	--text-normal: rgb(var(--textbrighter));
	--text-muted: rgb(var(--textdarker));
	--channels-default: rgb(var(--textdark));
	--interactive-normal: rgb(var(--textbright));
	--interactive-hover: rgb(var(--textbrighter));
	--interactive-active: rgb(var(--textbrightest));
	--interactive-muted: rgb(var(--textdarkest));
	--background-primary: rgb(var(--backgroundprimary));
	--background-secondary: rgb(var(--backgroundsecondary));
	--background-secondary-alt: rgb(var(--backgroundsecondaryalt));
	--background-tertiary: rgb(var(--backgroundtertiary));
	--background-accent: rgb(var(--backgroundaccent));
	--background-floating: rgb(var(--backgroundfloating));
	--background-mobile-primary: rgb(var(--backgroundprimary));
	--background-mobile-secondary: rgb(var(--backgroundsecondary));
	--background-modifier-hover: rgba(var(--backgroundaccent),.3);
	--background-modifier-active: rgba(var(--backgroundaccent),.4);
	--background-modifier-selected: rgba(var(--backgroundaccent),.6);
	--background-modifier-accent: rgba(var(--textdark),.1);
	--background-mentioned: rgba(var(--mentioncolor, --warningcolor),.05);
	--background-mentioned-hover: rgba(var(--mentioncolor, --warningcolor),.08);
	--background-mentioned-accent: rgb(var(--mentioncolor, --warningcolor));
	--background-message-hover: rgba(var(--backgroundfloating),.15);
	--scrollbar-thin-thumb: rgb(var(--backgroundtertiary));
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-thumb: rgb(var(--backgroundtertiary));
	--scrollbar-auto-track: rgb(var(--backgroundsecondary));
	--scrollbar-auto-scrollbar-color-thumb: rgb(var(--backgroundtertiary));
	--scrollbar-auto-scrollbar-color-track: rgb(var(--backgroundsecondary));
	--elevation-stroke: 0 0 0 1px rgba(6,6,7,.08);
	--elevation-low: 0 1px 0 rgba(6,6,7,.1), 0 1.5px 0 rgba(6,6,7,.25), 0 2px 0 rgba(6,6,7,.025);
	--elevation-medium: 0 4px 4px rgba(0,0,0,.08);
	--elevation-high: 0 8px 16px rgba(0,0,0,.16);
	--logo-primary: rgb(var(--accentcolor));
	--focus-primary: rgb(var(--linkcolor));
	--guild-header-text-shadow: 0 1px 1px rgba(var(--backgroundfloating),.5);
	--channeltextarea-background: rgba(var(--backgroundaccent),.8);
	--activity-card-background: rgb(var(--backgroundtertiary));
	--textbox-markdown-syntax: rgb(var(--textdark));
	--deprecated-card-bg: rgba(var(--backgroundtertiary),.6);
	--deprecated-card-editable-bg: rgba(var(--backgroundtertiary),.3);
	--deprecated-store-bg: rgb(var(--backgroundprimary));
	--deprecated-quickswitcher-input-background: rgb(var(--backgroundaccent));
	--deprecated-quickswitcher-input-placeholder: rgb(var(--textdarker));
	--deprecated-text-input-bg: rgba(0,0,0,.1);
	--deprecated-text-input-border: rgba(0,0,0,.3);
	--deprecated-text-input-border-hover: #040405;
	--deprecated-text-input-border-disabled: #202225;
	--deprecated-text-input-prefix: rgb(var(--textbrighter));
	--font-primary: var(--font) !important;
	--font-display: var(--font) !important;
}

html {
	color: var(--header-primary);
}


/* ~~~~		0.		TABLE OF CONTENTS				~~~~ */
/*
	1.	GENERAL
		1.	TEXT
		2.	BUTTONS
		3.	INPUTS
		4.	SEARCHBARS
		5.	IMAGES	
	2.	CHANNELLIST
		1.	GUILDHEADER
		2.	CHANNELS
		3.	ACCOUNT/VOICE/GOLIVE
	3.	CHAT
		1.	CHANNELHEADER
		2.	MESSAGES
			1.	MESSAGE
			2.	EMBEDS
			3.	NITROGIFT
			4.	INVITE
		3.	TEXTAREA
		4.	AUTOCOMPLETEMENU
		5.	MEMBERLIST
		6.	CALL
	4.	PEOPLES
	5.	STORE/NITRO
	6.	LIBRARY
	7.	DISCOVERY
	8.	USERSETTINGS
	9.	GUILDSETTINGS
	10.	MODALS
		1.	USERMODAL
		2.	GUILDADD/CREATION
		3.	REGIONSELECTMODAL
		4.	UPLOADMODAL
		5.	KEYBOARDSHORTCUTSMODAL
		6.	QUICKSWITCHER
		7.	INVITEMODAL/GROUPCREATE
		8.	LOGINSCREEN
		9.	TERMACCEPTMODAL
		10.	DOWNLOADAPPMODAL
		11.	GUILDBOOSTMODAL
		12.	REACTIONSMODAL
		13.	RATEMODAL
		14.	CHANGELOG
		15.	NOTIFICATIONSMODAL
		16.	PAYMENTMODAL
		17.	CHANNELCREATIONMODAL
		18.	CLOUDSYNCRESOLUTION
		19.	APPLICATIONINSTALLATIONMODAL
		20.	SPECIALMARKDOWNMODAL
		21.	REPORTPROBLEM
		22.	DISPATCHERROR
		23.	HYPESQUADQUIZ
		24.	NITROFEATUREMODAL
	11.	POPOUTS
		1.	USERPOPOUT
		2.	EMOJIPICKER
		3.	SEARCHPOPOUT
		4.	EVERYONEMENTION
		5.	CHANNELFOLLOW
		6.	CHANNELFOLLOWINFO
		7.	STREAMPREVIEW
		8.	ROLEOVERFLOW
		9.	PUBLICGUILDANNOUNCEMENT
		10.	QUICKSELECTPOPOUT
		11.	RTCSTATUSPOPOUT
		12.	PHONE-/EMAILVALIDATION
		13.	WARNINGPOPOUT
		14.	ADDROLE
	12.	BDSUPPORT
	13.	POWERCORDSUPPORT
	14.	PLUGINSUPPORT
		1.	MEMBERCOUNT
		2.	CHANNELTABS
		3.	TYPINGINDICATOR
	15.	WATERMARK
*/


/* ~~~~		1.		GENERAL							~~~~ */

svg [style*="stroke: rgb(114, 118, 125)"],
svg [style*="stroke: #72767d"],
svg [style*="stroke: #72767D"],
svg [stroke="rgb(114, 118, 125)"],
svg [stroke="#72767d"],
svg [stroke="#72767D"] {
	stroke: var(--text-muted) !important;
}
svg [style*="fill: rgb(114, 118, 125)"],
svg [style*="fill: #72767d"],
svg [style*="fill: #72767D"],
svg [fill="rgb(114, 118, 125)"],
svg [fill="#72767d"],
svg [fill="#72767D"] {
	fill: var(--text-muted) !important;
}
svg [style*="stroke: rgb(79, 84, 92)"],
svg [style*="stroke: #4f545c"],
svg [style*="stroke: #4F545C"],
svg [stroke="rgb(79, 84, 92)"],
svg [stroke="#4f545c"],
svg [stroke="#4F545C"] {
	stroke: var(--interactive-muted) !important;
}
svg [style*="fill: rgb(79, 84, 92)"],
svg [style*="fill: #4f545c"],
svg [style*="fill: #4F545C"],
svg [fill="rgb(79, 84, 92)"],
svg [fill="#4f545c"],
svg [fill="#4F545C"] {
	fill: var(--interactive-muted) !important;
}

#app-mount .elevationLow-26BbEG, #app-mount .elevationLow-3aiJPL, .lightElevationLow-1QzqDT, .darkElevationLow-2LO4eN {
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
}
#app-mount .elevationHigh-3KUiqj, #app-mount .elevationHigh-28Pty4, .lightElevationHigh-3gER0h, .darkElevationHigh-1BaD2i {
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
}
#app-mount .elevationBorderLow-3_3rXL, #app-mount .elevationBorderLow-2_BGCd, .lightElevationBorderLow-2Ysl3H, .darkElevationBorderLow-34oHrM {
	box-shadow: 0 0 0 1px rgba(var(--backgroundtertiary),.6), 0 1px 5px 0 rgba(0,0,0,.3);
}
#app-mount .elevationBorderHigh-3drnJX, #app-mount .elevationBorderHigh-1s5JCj, .lightElevationBorderHigh-3wutCI, .darkElevationBorderHigh-8ZYNYM {
	box-shadow: 0 0 0 1px rgba(var(--backgroundtertiary),.6), 0 2px 10px 0 rgba(0,0,0,.2);
}

#app-mount .tooltip-16UpTB,
#app-mount .tooltip-1_vJJI {
	background-color: var(--background-floating);
	color: var(--text-normal);
}
#app-mount .tooltipPointer-1KkjI2,
#app-mount .tooltipPointer-1awMxk {
	border-right-color: var(--background-floating);
}

#app-mount .bubble-3XikHF {
	background-color: var(--background-floating);
	color: var(--text-normal);
}
#app-mount .bubble-3XikHF::before {
	border: 5px solid transparent;
	border-top-color: var(--background-floating);
}

#app-mount .card-2ART2V::before {
	background-color: var(--background-primary);
    border-color: var(--background-secondary);
}
#app-mount .button-1yVL_7 {
	background-color: var(--background-primary);
	box-shadow: 0 0 0 1px rgba(var(--backgroundtertiary),.6), 0 1px 5px 0 rgba(0,0,0,.3);
}
#app-mount .button-1yVL_7:hover {
	background-color: var(--background-accent);
	box-shadow: 0 0 0 1px rgba(var(--backgroundtertiary),.6), 0 2px 10px 0 rgba(0,0,0,.2);
}

#app-mount .text-1SHFy0 {
	color: var(--header-primary);
}
#app-mount .editIcon-e7sZ3b {
	-webkit-mask: url(https://discord.com/assets/860396b3ff3fa1c4ae355bebfabadecb.svg);
	background: var(--header-primary);
}

#app-mount .path2-F-M5gP {									/* loading icons		spinning circles					*/
	stroke: var(--background-modifier-selected);
}
#app-mount .path3-3tVOpU {									/* loading icons		spinning circles					*/
	stroke: var(--background-modifier-active);
}

#app-mount .scrollbarGhost-dCZKgZ::-webkit-scrollbar-thumb {/* scrollers			old scrollers						*/
	background-color: var(--scrollbar-thin-thumb);
	border-color: transparent;
}
#app-mount .scrollbarGhost-dCZKgZ::-webkit-scrollbar-track {
	background-color: var(--scrollbar-thin-track);
	border-color: transparent;
	border-width: initial;
}
#app-mount .scrollbarGhostHairline-2LpzZ9::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thin-thumb);
	border-radius: 2px;
	cursor: move;
}
#app-mount .scrollbarDefault-2w-Dyz::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-auto-thumb);
	border-color: transparent;
}
#app-mount .scrollbarDefault-2w-Dyz::-webkit-scrollbar-track {
	background-color: var(--scrollbar-auto-track);
	border-color: transparent;
}

#app-mount .breadcrumbWrapper-3rpYiO {						/* breadcrumbs			wrapper							*/
	color: rgba(var(--textbrightest),.3);
}
#app-mount .activeBreadcrumb-2xVic0 {						/* breadcrumbs			active							*/
	color: rgba(var(--textbrightest),.6);
}

html .backgroundaccent-349kuI {
	color: var(--header-primary);
}

html .iconBadge-2wi9r4 {
	background-color: var(--background-floating);
	color: var(--header-primary);
}

/* ----		1.1.	TEXT							---- */

.description-1u9Qui {
	color: var(--header-secondary);
}

#app-mount h1.title-338goq,
#app-mount h2.title-338goq {
	color: var(--header-primary);
}
#app-mount h3.title-338goq {
	color: var(--text-normal);
}
#app-mount h4.title-338goq,
#app-mount h5.title-338goq,
#app-mount h6.title-338goq {
	color: var(--header-secondary);
}

#app-mount .text-27cdrj,
#app-mount .title-2CL_z0 {
	color: var(--text-muted);
}

#app-mount .title-338goq {
	color: var(--header-secondary);
}

#app-mount .markdown-19oyJN {
	color: var(--text-normal);
}
#app-mount .markdown-19oyJN th {
	background-color: var(--background-tertiary);
	border-color: var(--interactive-muted);
	color: var(--header-primary);
}
#app-mount .markdown-19oyJN td {
	border-color: var(--interactive-muted);
}
#app-mount .markdown-19oyJN tr {
	border-color: var(--interactive-muted);
	color: var(--header-secondary);
}
#app-mount .markdown-19oyJN tr:nth-child(2n) {
	background-color: var(--background-secondary);
}
#app-mount .markdown-19oyJN .blockquote-2mppuN {
	border-left-color: var(--interactive-muted);
}
#app-mount .markdown-19oyJN code {
	background-color: var(--background-secondary);
}
#app-mount .markdown-19oyJN .codeInline-1RFl81 {
	color: var(--text-normal);
}

/* ----		1.2.	BUTTONS							---- */

#app-mount .lookInverted-2mDUMi.colorPrimary-2AuQVo .spinnerItem-3dCJpG {
	background-color: var(--background-accent);
}
#app-mount .lookOutlined-3yKVGo.colorPrimary-2AuQVo .spinnerItem-3dCJpG,
#app-mount .lookLink-15mFoz.colorPrimary-2AuQVo .spinnerItem-3dCJpG {
	background-color: var(--header-primary);
}

#app-mount .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover,
#app-mount .lookFilled-yCfaCM.hoverPrimary-2hqNIm.hasHover-26V98q:hover {
	background-image: linear-gradient(0deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, .15));
}
#app-mount .lookFilled-yCfaCM.colorPrimary-2AuQVo:active,
#app-mount .lookFilled-yCfaCM.hoverPrimary-2hqNIm.hasHover-26V98q:active {
	background-image: linear-gradient(0deg, rgba(255, 255, 255, .3), rgba(255, 255, 255, .3));
}
#app-mount .lookFilled-yCfaCM.colorPrimary-2AuQVo,
#app-mount .lookFilled-yCfaCM.colorPrimary-2AuQVo:disabled {
	background-color: var(--background-accent);
	color: #FFF;
}

#app-mount .lookInverted-2mDUMi.colorPrimary-2AuQVo:hover,
#app-mount .lookInverted-2mDUMi.hoverPrimary-2hqNIm.hasHover-26V98q:hover {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1));
}
#app-mount .lookInverted-2mDUMi.colorPrimary-2AuQVo:active,
#app-mount .lookInverted-2mDUMi.hoverPrimary-2hqNIm.hasHover-26V98q:active {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
}
#app-mount .lookInverted-2mDUMi.colorPrimary-2AuQVo,
#app-mount .lookInverted-2mDUMi.colorPrimary-2AuQVo:disabled {
	background-color: #FFF;
	color: var(--background-accent);
}

#app-mount .lookOutlined-3yKVGo.hoverPrimary-2hqNIm.hasHover-26V98q:hover {
	border-color: rgba(var(--textbrightest), .6);
}
#app-mount .lookOutlined-3yKVGo.hoverPrimary-2hqNIm.hasHover-26V98q:hover {
	background-color: rgba(var(--textbrightest), .1);
	border-color: var(--header-primary);
}
#app-mount .lookOutlined-3yKVGo.colorPrimary-2AuQVo,
#app-mount .lookOutlined-3yKVGo.colorPrimary-2AuQVo:disabled {
	border-color: rgba(var(--textbrightest), .1);
	color: var(--header-primary);
}

#app-mount .lookLink-15mFoz.colorPrimary-2AuQVo {
	color: var(--header-primary);
}
#app-mount .lookLink-15mFoz.colorPrimary-2AuQVo:hover .contents-3ca1mk,
#app-mount .lookLink-15mFoz.hoverPrimary-2hqNIm.hasHover-26V98q:hover .contents-3ca1mk {
	background-image: linear-gradient(0deg, transparent, transparent 1px, rgb(var(--textbrightest)) 0, rgb(var(--textbrightest)) 2px, transparent 0);
	color: var(--header-primary);
}

#app-mount .borderPrimary-1ygM7_ {
	border-color: var(--header-primary) !important;
}

#app-mount .lookInverted-2mDUMi.colorTransparent-13Bvvi .spinnerItem-3dCJpG {
	background-color: rgba(var(--textbrightest),.1);
}
#app-mount .lookFilled-yCfaCM.colorTransparent-13Bvvi .spinnerItem-3dCJpG,
#app-mount .lookOutlined-3yKVGo.colorTransparent-13Bvvi .spinnerItem-3dCJpG,
#app-mount .lookLink-15mFoz.colorTransparent-13Bvvi .spinnerItem-3dCJpG {
	background-color: var(--header-primary);
}

#app-mount .lookFilled-yCfaCM.colorTransparent-13Bvvi:hover,
#app-mount .lookFilled-yCfaCM.hoverTransparent-1F6BzX.hasHover-26V98q:hover {
	background-color: rgba(var(--textbrightest),.05);
}
#app-mount .lookFilled-yCfaCM.colorTransparent-13Bvvi:active,
#app-mount .lookFilled-yCfaCM.hoverTransparent-1F6BzX.hasHover-26V98q:active  {
	background-color: rgba(var(--textbrightest),.01);
}
#app-mount .lookFilled-yCfaCM.colorTransparent-13Bvvi,
#app-mount .lookFilled-yCfaCM.colorTransparent-13Bvvi:disabled {
	background-color: rgba(var(--textbrightest),.1);
	color: var(--header-primary);
}

#app-mount .lookInverted-2mDUMi.colorTransparent-13Bvvi:hover,
#app-mount .lookInverted-2mDUMi.hoverTransparent-1F6BzX.hasHover-26V98q:hover {
	background-color: rgba(var(--textbrightest),.05);
}
#app-mount .lookInverted-2mDUMi.colorTransparent-13Bvvi:active,
#app-mount .lookInverted-2mDUMi.hoverTransparent-1F6BzX.hasHover-26V98q:active {
	background-color: rgba(var(--textbrightest),.1);
}
#app-mount .lookInverted-2mDUMi.colorTransparent-13Bvvi,
#app-mount .lookInverted-2mDUMi.colorTransparent-13Bvvi:disabled  {
	background-color: var(--header-primary);
	color: rgba(var(--textbrightest),.1);
}

#app-mount .lookOutlined-3yKVGo.hoverTransparent-1F6BzX.hasHover-26V98q:hover {
	background-color: rgba(var(--textbrighter),.1);
	border-color: var(--interactive-hover);
}
#app-mount .lookOutlined-3yKVGo.hoverTransparent-1F6BzX.hasHover-26V98q:active {
	background-color: rgba(var(--textbrightest),.1);
	border-color: var(--header-primary);
}
#app-mount .lookOutlined-3yKVGo.colorTransparent-13Bvvi,
#app-mount .lookOutlined-3yKVGo.colorTransparent-13Bvvi:disabled {
	background-color: transparent;
	color: var(--text-normal);
}

#app-mount .lookLink-15mFoz.colorTransparent-13Bvvi {
	color: var(--text-normal);
}
#app-mount .lookLink-15mFoz.colorTransparent-13Bvvi:hover .contents-3ca1mk,
#app-mount .lookLink-15mFoz.hoverTransparent-1F6BzX.hasHover-26V98q:hover .contents-3ca1mk {
	background-image: linear-gradient(0deg, transparent,transparent 1px,rgb(var(--textbrighter)) 0,rgb(var(--textbrighter)) 2px,transparent 0);
	color: var(--text-normal);
}

#app-mount .borderTransparent-2P3AAk {
	border-color: var(--text-normal) !important;
}

/* ----		1.3.	INPUTS							---- */

.container-2nx-BQ {
	background-color: var(--text-muted) !important;
}
.container-2nx-BQ path[fill] {
	fill: var(--text-muted) !important;
}

#app-mount .prefixInput-w72mM6 {
	background-color: rgba(0,0,0,.1);
	border-color: rgba(0,0,0,.3);
}
#app-mount .prefixInput-w72mM6:hover {
	border-color: rgba(0,0,0,.6);
}
#app-mount .prefixInputInput-yS14_1 {
	color: var(--header-primary);
}
#app-mount .prefixInputInput-yS14_1::-webkit-input-placeholder,
#app-mount .prefixInputInput-yS14_1::-moz-placeholder,
#app-mount .prefixInputInput-yS14_1:-ms-input-placeholder,
#app-mount .prefixInputInput-yS14_1::placeholder {
	color: var(--text-muted);
}
#app-mount .prefixInputPrefix-20KCc9 {
	color: var(--text-muted);
}

#app-mount .item-2idW98[aria-checked=true] .radioBar-3w9XY- {
	background: rgb(var(--accentcolor));
	color: #fff;
}
#app-mount .item-2idW98[aria-checked=true] .radioBar-3w9XY- .radioIconForeground-2BMavi {
	color: #fff;
}
#app-mount .item-2idW98 .radioBar-3w9XY-[style*="--radio-bar-accent-color"] {
	background: var(--radio-bar-accent-color);
	border: unset;
	color: #fff;
}
#app-mount .item-2idW98[aria-checked=false]:hover .radioBar-3w9XY-[style*="--radio-bar-accent-color"] {
	background: var(--radio-bar-accent-color) linear-gradient(to right, rgba(255, 255, 255, .2), rgba(255, 255, 255, .2));
}

.lookFilled-1GseHa.select-1Ia3hD {
	background-color: var(--deprecated-text-input-bg);
	border-color: var(--deprecated-text-input-border);
}
.searchInput-3pIoTy {
	background-color: transparent;
}
.lookFilled-1GseHa.select-1Ia3hD:hover {
	border-color: var(--deprecated-text-input-border-hover);
}

#app-mount .container-30qY7E {
	background-color: var(--deprecated-text-input-bg);
	border-color: var(--deprecated-text-input-border);
}
#app-mount .container-30qY7E:hover {
	border-color: var(--deprecated-text-input-border-hover);
}

#app-mount .container-2zEtSe {
	color: var(--header-secondary);
}
#app-mount .selected-2xa993 {
	border-bottom: 2px solid var(--header-primary);
	color: var(--header-primary);
}

#app-mount .checkbox-f1HnKB {
	border-color: var(--text-muted);
}
#app-mount .checkbox-f1HnKB.checked-1pZh2h[style*="border-color: rgb(79, 84, 92)"],
#app-mount .checkbox-f1HnKB.checked-1pZh2h:not([style*="border-color:"]):not([style*="background-color:"]) {
	background-color: rgb(var(--accentcolor)) !important;
	border-color: rgb(var(--accentcolor)) !important;
}
#app-mount .checkbox-f1HnKB.checked-1pZh2h[style*="border-color: rgb(79, 84, 92)"] path,
#app-mount .checkbox-f1HnKB.checked-1pZh2h:not([style*="border-color:"]):not([style*="background-color:"]) path {
	fill: #fff;
}

#app-mount .checkbox-1ycfTw .checkboxInner-1aRh1d span {
	border-color: var(--text-muted);
}
#app-mount .checkbox-1ycfTw .checkboxInner-1aRh1d .checkboxElement-uwAa9F:checked + span::after {
	border-color: #fff !important;
}
#app-mount .checkbox-1ycfTw .checkboxInner-1aRh1d .checkboxElement-uwAa9F:disabled + span {
	filter: grayscale(0.5);
}
#app-mount .checkbox-1ycfTw .checkboxInner-1aRh1d .checkboxElement-uwAa9F:checked + span {
	background-color: rgb(var(--accentcolor)) !important;
	border-color: rgb(var(--accentcolor)) !important;
}
#app-mount .checkbox-1ycfTw .checkboxInner-1aRh1d.alt-20KvgT .checkboxElement-uwAa9F + span {
	background-color: #fff !important;
	border-color: #fff !important;
}
#app-mount .checkbox-1ycfTw .checkboxInner-1aRh1d.alt-20KvgT .checkboxElement-uwAa9F:checked + span::after {
	border-color: rgb(var(--accentcolor)) !important;
}

#app-mount .maxLength-IdVNmX {
	color: var(--text-muted);
}

#app-mount .copyInput-3AbKWB {
	background-color: var(--deprecated-text-input-bg);
}
#app-mount .copyInputDefault-3jiMHw {
	border-color: var(--deprecated-text-input-border);
}
#app-mount .hiddenMessage-3QNvPt,
#app-mount .inputDefault-1AaKiD {
	color: var(--header-primary);
}
#app-mount .hiddenMessage-3QNvPt::placeholder,
#app-mount .inputDefault-1AaKiD::placeholder {
	color: rgba(var(--textbrightest),.3);
}

#app-mount .grabber-2GQyvM {
	background-color: #fff;
	border-color: var(--background-accent);
}
#app-mount .bar-1Bhnl9 {
	background: var(--background-accent);
}
#app-mount .markValue-2U_-UG {
	color: var(--text-muted);
}
#app-mount .markDash-yk2kJ- {
	background: var(--background-accent);
}

.select-1YfRS9 [class*="css-"][class*="-control"] {
	background-color: var(--deprecated-text-input-bg);
	border-color: var(--deprecated-text-input-border);
	color: var(--text-normal);
}
.select-1YfRS9 [class*="css-"][class*="-control"]:hover,
.select-1YfRS9 [class*="css-"][class*="-control"]:not(:last-child) {
	border-color: var(--deprecated-text-input-border-hover);
}
.select-1YfRS9.languageSelector-1hjSyO [class*="css-"][class*="-control"] {
	background-color: var(--background-tertiary);
	border: none;
}
.select-1YfRS9 [class*="css-"][class*="-singleValue"],
.select-1YfRS9 [class*="css-"][class*="-placeholder"],
.select-1YfRS9 [class*="css-"][class*="-indicatorContainer"] {
	color: var(--text-normal);
}
.selectedIcon-19TbzU {
	color: var(--interactive-active);
}
#app-mount .optionNormal-12VR9V,
.css-1gfjib6-option,
.css-1yz4bi9-option,
.css-ru8b0x-option,
.css-1yz4bi9-option {
	background-color: rgba(var(--transparencycolor), .1);
	color: var(--interactive-normal);
}
#app-mount .optionNormal-12VR9V:hover,
.css-pkcurw-option,
.css-rzbxvl-option,
.css-1qxn4c5-option,
.css-rzbxvl-option {
	background-color: var(--background-secondary);
	color: var(--interactive-hover);
}
#app-mount .optionActive-KkAdqq,
.css-1gxgi19-option,
.css-1ba14n5-option,
.css-6qzljd-option,
.css-1ba14n5-option {
	background-color: var(--background-primary);
	color: var(--interactive-active);
}
.select-1YfRS9 > [class*="css-"][class*="-container"] > [class*="css-"][class*="-menu"] {
	background-color: var(--background-tertiary);
	border-color: var(--background-tertiary);
	box-shadow: var(--elevation-high);
	overflow: hidden;
}

#app-mount .colorPickerCustom-1swUKF {
	background: var(--background-primary);
	border-color: var(--background-tertiary);
}

/* ----		1.4.	SEARCHBARS						---- */

#app-mount .searchBox-pyIJJj {
	background-color: var(--background-accent);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
}
#app-mount .searchBox-pyIJJj .searchBoxInput-P0mWHW::placeholder {
	color: var(--text-muted);
}
#app-mount .searchIcon-34RNw9 {
	color: var(--text-muted);
}
#app-mount .filterLabel-3-eQ3i {
	color: var(--header-secondary);
}

/* ----		1.5.	IMAGES							---- */

#app-mount .successImage-1Ld6xy {
	background-image:url(https://discord.com/assets/15bc6312ff83991a86d4eb9be19094d6.svg);
	opacity: .5;
}

#app-mount .searchIndexBackground-2pbSFD {
	background-image: url(https://discord.com/assets/e695cb4a18202a6053674a346e6ba4c2.svg);
	opacity: .5;
}
#app-mount .resultsBlockedImage--tkTSD {
	background-image: url(https://discord.com/assets/7490848d1fcddf075abeb71e2d1aaff3.svg);
	opacity: .5;
}
#app-mount .noResultsImage-1-dP2n {
	background-image: url(https://discord.com/assets/af4424ffab53593f696947192ff1854a.svg);
	opacity: .5;
}
#app-mount .noResultsImage-1-dP2n.alt-3_Cl_W {
	background-image: url(https://discord.com/assets/f0a2cc54695a7064a1f02e5ca8b95ccc.svg);
	opacity: .5;
}
#app-mount .errorImage-19HeaA {
	background-image: url(https://discord.com/assets/29462d0b6c33d2ed874aa982f6f99326.svg);
	opacity: .5;
}

#app-mount .wrapper-3AZUiP {								/* crash screen			background							*/
	background-image: url(https://discord.com/assets/da840b1a6c5d073ca1c6710f8967502a.svg);
}
#app-mount .image-35kDIs {									/* crash screen			center image						*/
	background-image: url(https://discord.com/assets/e9baf4b505eb54129f832556ea16538e.svg);
	opacity: .5;
}

#app-mount .gameIcon-1mDo1J {
	background-color: rgba(var(--textbrightest), .1);
	color: var(--header-primary);
}

#app-mount .noResults-1nD_92 {
	background: transparent;
}
#app-mount .noResults-1nD_92::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url(https://discord.com/assets/0b298968e0a756e25677771fd6b58b34.svg) no-repeat 50% 40%;
	opacity: .5;
}

#app-mount .noResults-24KNHj {
	background-image: url(https://discord.com/assets/0b298968e0a756e25677771fd6b58b34.svg);
	opacity: .5;
}

.fullArt-KDeDyg {
	opacity: .5;
}
#app-mount .art-1bAcVF {
	background-image: url(https://discord.com/assets/9f670a7821c663913c393f5df62e63d7.svg);
	opacity: .5;
}

#app-mount .imageUnverified-1QCPtJ {
	background-image: url(https://discord.com/assets/e260177e5165e6789e30b9592df75424.svg);
	opacity: .5;
}

.fullArt-3CUkwC {
	opacity: .5;
}

.image-t6rLT3 {
	opacity: .5;
}
.image-t6rLT3[style*='url("/assets/03c7541028afafafd1a9f6a81cb7f149.svg")'] {
	background-image: url(https://discord.com/assets/6793e022dc1b065b21f12d6df02f91bd.svg) !important;
}
.image-t6rLT3[style*='url("/assets/9b0d90147f7fab54f00dd193fe7f85cd.svg")'] {
	background-image: url(https://discord.com/assets/308e587f3a68412f137f7317206e92c2.svg) !important;
}

.image-20MDYu {
	opacity: .5;
}
.image-20MDYu[style*='url("/assets/c84361b810ca7c10d6e8ddb6ea722ebe.svg")'] {
	background-image: url(https://discord.com/assets/b669713872b43ca42333264abf9c858e.svg) !important;
}
.image-20MDYu[style*='url("/assets/857c505aafbe092e4f6efecebcad0bc8.svg")'] {
	background-image: url(https://discord.com/assets/712a0fd4d14a1caadd31cb0745e91238.svg) !important;
}

img[src='/assets/9ad4d437577c5569dc231a787a5377f6.svg'],
img[src='/assets/bfffd518c76d3f6bc5e96eb52e4ae2cf.svg'] {
	background-image: url(https://discord.com/assets/bfffd518c76d3f6bc5e96eb52e4ae2cf.svg);
	opacity: .5;
	object-position: -999999px -999999px;
}

img[src='/assets/c2c982c416a67d43d72d182f079a8d22.svg'],
img[src='/assets/58957d928db6fb9d4658eb882f33d7bc.svg'] {
	background-image: url(https://discord.com/assets/58957d928db6fb9d4658eb882f33d7bc.svg);
	opacity: .5;
	object-position: -999999px -999999px;
}

.emptyStateImage-3SXmVX {
	opacity: .5;
}
.emptyStateImage-3SXmVX[src='/assets/38defe07899a762bfc301ddddd206116.svg'] {
	background-image: url(https://discord.com/assets/446a060321730a318ca1649b0cc40d44.svg);
	object-position: -999999px -999999px;
}

#app-mount .image-3wZlK5 {
	background-image: url(https://discord.com/assets/97e866482f43d3ebd2496641cd934904.svg);
	opacity: .5;
}

#app-mount .imageError-dy476I {
	background-image: url(https://discord.com/assets/e0c782560fd96acd7f01fda1f8c6ff24.svg);
	opacity: .5;
}

#app-mount .image-1REvn0 {
	background-image: url(https://discord.com/assets/cefc9c14adce616059f519c581331b32.svg);
	opacity: .5;
}

#app-mount .emptyImage-2pCD2j {
	background-image: url(https://discord.com/assets/4bb32037d9d2e8240d1315ddaf4e4b85.svg);
	opacity: .5;
}
#app-mount .errorImage-1n5rtg {
	background-image: url(https://discord.com/assets/cdc3daf6fc982fef1df502912b682ada.svg);
	opacity: .5;
}

#app-mount .missingEntitlementImage-112ztW {
	background-image: url(https://discord.com/assets/131dcaaa628405e6d0ebee7708111c7a.svg);
	opacity: .5;
}

/* All colors are in RGB format (red, green, blue) use: https://www.google.com/search?q=colorpicker	*/

:root {
	/*--font:						Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;					/*	General Font				*/
	--settingsicons:			1;						/*	Use Settings Icons in User/Server/Channel Settings: 1 = yes, 0 = no			*/
	
	--accentcolor: 				88,101,242;				/*	Blurple				 - 	default:	88,101,242		 - 	hex:	#5865f2		*/
	--accentcolor2: 			255,115,250;			/*	Boostpink			 - 	default:	255,115,250		 - 	hex:	#ff73fa		*/
	--linkcolor: 				0,176,244;				/*	Link Color			 - 	default:	0,176,244		 - 	hex:	#00b0f4		*/
	--mentioncolor: 			250,166,26;				/*	Highlight Color		 - 	default:	250,166,26		 - 	hex:	#faa61a		*/
	--successcolor: 			59,165,92;				/*	Success Color		 - 	default:	59,165,92		 - 	hex:	#3ba55c		*/
	--warningcolor: 			250,166,26;				/*	Warning Color		 - 	default:	250,166,26		 - 	hex:	#faa61a		*/
	--dangercolor:  			237,66,69;				/*	Danger Color		 - 	default:	237,66,69		 - 	hex:	#ed4245		*/
	
	--textbrightest: 			255,255,255;			/*	Text Color 1		 - 	default:	255,255,255		 - 	hex:	#ffffff		*/
	--textbrighter: 			222,222,222;			/*	Text Color 2		 - 	default:	220,221,222		 - 	hex:	#dcddde		*/
	--textbright: 				185,185,185;			/*	Text Color 3		 - 	default:	185,187,190		 - 	hex:	#b9bbbe		*/
	--textdark: 				140,140,140;			/*	Text Color 4		 - 	default:	142,146,151		 - 	hex:	#8e9297		*/
	--textdarker: 				115,115,115;			/*	Text Color 5		 - 	default:	114,118,125		 - 	hex:	#72767d		*/
	--textdarkest: 				80,80,80;				/*	Text Color 6		 - 	default:	79,84,92		 - 	hex:	#4f545c		*/
}
