/**
 * @name Eris Reborn
 * @author ErnestoTheGamer
 * @version 1.3
 * @description A revitalized version of RockESV's Eris theme, with the addition of setting icons and old UI icons.
 * @source https://github.com/ErnestoTheGamer/vencord-themes
*/

/* Eris logos */
@import url(https://raw.githubusercontent.com/ErnestoTheGamer/vencord-themes/main/src/eris-logos-pfps.css);

/* BetterDiscordAddons Settings Icons */
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);

/* Revert old icons */
@import url(https://raw.githubusercontent.com/thisRedH/Themes/main/Icon%20Revert%202023/2023%20Icon%20Revert.css);

:root, .theme-dark, .theme-light {
	--font: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;

	--settingsicons: 1;

	--font-primary: var(--font);
	--font-display: var(--font);

	--brand-experiment: hsl(235, 85%, 65%);
	--brand-500: var(--brand-experiment);
	--brand-experiment-560: hsl(235, 70%, 60%);
	--brand-experiment-600: hsl(235, 55%, 54%);
	--background-secondary: var(--background-primary);
	--background-secondary-alt: var(--background-primary);
	--background-modifier-selected: var(--background-tertiary);
	--background-floating: var(--background-tertiary);
	--channeltextarea-background: var(--background-tertiary);
	--input-background: var(--background-tertiary);
	--scrollbar-auto-thumb: var(--background-tertiary);
	--scrollbar-auto-track: transparent;
	--scrollbar-thin-thumb: var(--background-tertiary);
	--scrollbar-thin-track: transparent;
	--modal-background: var(--background-primary);
	--modal-footer-background: var(--background-primary);
	--deprecated-card-bg: var(--background-tertiary);
	--deprecated-text-input-border: none;
	--box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
	--elevation-high: var(--box-shadow);
	--elevation-stroke: var(--box-shadow);
	--dark-elevation-border: var(--box-shadow);
	--dark-elevation-high: var(--box-shadow);
	--dark-elevation-low: var(--box-shadow);
	--search-popout-option-fade: transparent;
	--search-popout-option-fade-hover: transparent;
}

.theme-dark {
	--background-primary: #1f2125;
	--background-tertiary: #14161a;
	--text-normal: #ffffff;
	--text-muted: #9b9b9b;
	--channels-default: #b8b8b8;
}

.theme-light {
	--background-primary: #f5f5f5;
	--background-tertiary: #cccccc;
	--channels-default: #1a1a1a;
	--text-normal: #000000;
	--text-muted: #6e6e6e;
}

/* SETTINGS SECTION */

:root .info__755e1 .text-xs-normal_ccc5fb:first-child:before { /* Eris theme information at the bottom of the Settings sections */
	text-transform: none;
	content: "Eris Reborn v1.3";
	display: block;
}

:root .sidebarRegionScroller__8113e { /* Settings sidebar background and selected options color */
	background-color: var(--background-tertiary);
}

.side_b4b3f6 .themed_b957e8.selected_a523ff.item__48dda {
	background-color: var(--brand-experiment);
}

.side_b4b3f6 .themed_b957e8.selected_a523ff.item__48dda:hover:not(.disabled-1nofHP) {
	background-color: var(--brand-experiment);
}

.accountProfileCard__744d8, .bioTextArea_f46f71, .input_f27786:not(.note_ba0c31 .textarea__0461c, .multiInputField-1zyopx, .note-3TX9O7 .textarea__0461c, .addFriendInput__12af4 .input_f27786), .lookFilled__9c1ef.select_fe2671, .itemFilled__5a849[aria-checked=true], .feedback_fa4f12 { /* Box shadow for various boxes in Settings */
	box-shadow: var(--box-shadow);
}

:root .footerSeparator-VzAYwb {
	box-shadow: none;
}

.popout_a6e77f, .formNotice__0a16b.cardPrimary-3qRT__.card-16VQ8C, .authedApp__71a52, .connection__6dbd8, .connectContainer_e331e3, .guilds__66a9b .cardWrapper_bc8d2a, :root .codeRedemptionRedirect_b3eca7, .cameraWrapper_d3535e { /* Theming for dropdown menu and various cards */
	background-color: var(--background-tertiary);
	box-shadow: var(--box-shadow);
	border: none;
}

.option_eb83e4[aria-selected=true]:not(.option_eb83e4.multi__8d15f) { /* Removes background of selected item in dropdown menu */
	background-color: transparent;
}

.banner_d7a5a9 .container_d5dec4, .featureCards__2c4e7 .container__7d3e2, .container_db1b74 .container__5a2c3, .container_cf8001 .linkingBanner_e88074, .box__6431e { /* Theming for Family Center section in Settings */
	background: var(--background-tertiary);
	box-shadow: var(--box-shadow);
}

.container__5a2c3 .row__9455d {
	background: var(--background-primary);
}

.connectionHeader__2b82f { /* Theming for Connections section in Settings */
	background: transparent;
}

.connectionList__5b340 {
	grid-gap: 8px;
}

.metadataContainer__1842c, .container-QlmnKJ {
	padding: 0 16px;
	margin: 0;
}

.bd-addon-list .bd-addon-card { /* Theming for BetterDiscord settings section */
	background: var(--background-tertiary);
	box-shadow: var(--box-shadow);
	padding: 0px 16px 16px;
}

.bd-addon-list .bd-addon-header {
	background: transparent;
	padding: 16px 0;
}

.bd-description-wrap, .bd-footer {
	background: var(--background-primary);
}

.bd-description-wrap {
	padding-top: 16px;
	border-radius: 5px 5px 0px 0px;
}

.bd-button:not(.bd-button-danger), .bd-addon-views .bd-view-button.selected {
	background-color: var(--brand-experiment);
}

/* FRIENDS SECTION */

.channel__0aef5.container-32HW5s[aria-posinset="2"] { /* Disables Nitro button in Friends page */
	display: none;
}

.searchBar__621ec .searchBarComponent__8f95f { /* Conversartion search box shadow */
	box-shadow: var(--box-shadow);
}

.topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG { /* Box shadow for selected tab under Friends */
	box-shadow: var(--box-shadow);
}

.topPill-3DJJNV .item-3XjbnG { /* Gives top tabs in Friends enough room for box shadow */
	margin: 10px 8px;
}

.interactive__0786a.selected__37292 { /* Box shadow for selected DM */
	box-shadow: var(--box-shadow);	
}

.topPill-3DJJNV .themed-2-lozF.item-3XjbnG.selected-g-kMVV:hover:not(.disabled-1nofHP) {
	background-color: var(--background-tertiary);
}

.privateChannels__9b518 .scroller__89969.thin_b1c063.scrollerBase-_bVAAt.fade-1R6FHN { /* Gives DM list enough room for box shadow to display fully */
	padding-right: 4px !important;
}

.interactive__0786a.selected__37292 { /* Fix selected DM color on hover */
	background-color: var(--background-tertiary);
	color: var(--interactive-active);
}

.channel__0aef5.container-32HW5s[aria-posinset="1"] .interactive__0786a.selected__37292 { /* Fix Friends button color weirdness */
	background-color: var(--background-tertiary) !important;
	color: var(--interactive-active) !important;
}

.peopleColumn__0c784 .searchBar__310d8 { /* Friends search box shadow */
	box-shadow: var(--box-shadow);
}

.nowPlayingColumn_b025fe .itemCard_b64118, :root .outer_a41cf3.active__76f42, :root .outer_a41cf3.interactive__46c44:hover { /* Theming for Active Now cards */
	background-color: var(--background-tertiary);
	border: none;
	box-shadow: var(--box-shadow);
	margin-top: 16px;
}

.nowPlayingColumn_b025fe .itemCard_b64118 .section__253ec, :root .inset__61d5b { 
	background-color: transparent;
}

.scroller__7c25e { /* Removes divider between Friends and Active Now */
	border-left: none;
}

.root-2uUafN { /* User profile modal box shadow */
	box-shadow: var(--box-shadow) !important;
}

.channelTextArea_c2094b.channelTextArea__648e5, .searchBar__5a20a { /* Message text field and message search bar box shadow */
	box-shadow: var(--box-shadow);
}

.button_ae40a4.enabled__214db:hover, .button_b82d53.buttonColor__7bad9:hover, .withTagAsButton_e22174:hover { /* Hover background and box shadows on user buttons */
	background-color: var(--background-tertiary);
	box-shadow: var(--box-shadow);
}

/* CHANNELS */

:root .autocomplete__743a5 {   /* Mentions menu background and shadow */ 
	background-color: var(--background-tertiary);
	box-shadow: var(--box-shadow);
}

.modeSelected__473f1 .wrapper__612a5:not(.typeThread__5fb37 .wrapper__612a5) { /* Styling for selected channel (except threads) */
	box-shadow: var(--box-shadow);
	margin-left: 0;
	padding-left: 12px;
	border-left: 4px solid var(--brand-experiment);
	border-radius: 0 4px 4px 0;
	margin-right: 8px;
}

.modeSelected__473f1.typeThread__5fb37 .wrapper__612a5 { /* Styling for selected thread */
	border-left: 3px solid var(--brand-experiment);
	border-radius: 0 4px 4px 0;
	padding-left: 8px;
	box-shadow: var(--box-shadow);
	margin-right: 8px;
}

.wrapper__612a5:hover .wrapper__612a5 { /* Styling for hovered channels */
	margin-right: 8px;
}

.selected__7f4cb.container_a48b21 .layout_bb8e67 { /* Box shadow for selected user in channel */
	box-shadow: var(--box-shadow);
}

.browser_fa9cea .header__6d44a { /* Styling for Threads popup */
	background-color: var(--background-primary);
}

.searchBox__9423b.container__33507, .container__9922f:hover {
	background-color: var(--background-tertiary);
	box-shadow: var(--box-shadow);
	border: none;
}

.container__17159, .card__3662a { /* Styling for threads preiew and first message card */
	background-color: var(--background-tertiary);
	box-shadow: var(--box-shadow);
}

.replyBar_ed6afc {	/* Styling for reply bar */
	background-color: var(--background-tertiary);
	box-shadow: var(--box-shadow);
}

.jumpToPresentBar__69174 .barButtonMain__984b4 {  /* Styling for jump to present bar */
	display: none;
}

.jumpToPresentBar__69174 {
	background-color: var(--background-tertiary);
	box-shadow: var(--box-shadow);
	margin-bottom: 16px;
	padding: 4px;
	border-radius: 8px;
	opacity: 1;
	left: initial;
}

.jumpToPresentBar__69174:active {
	margin-bottom: 15px;
}

:root .spoilerText-2G40u0.hidden_f44e41, .markup_a7e664 pre code { /* Styling for code blocks and spoilers */
	background-color: var(--background-tertiary);
	box-shadow: var(--box-shadow);
}

.markup_a7e664 blockquote, .markup_a7e664 pre {
	margin-bottom: 5px;
}

:root .spoilerText-2G40u0.hidden_f44e41:hover {
	background-color: var(--background-modifier-hover);
}

.newMosaicStyle_ed53d8 .textContainer__65f57, .newMosaicStyle_ed53d8 .footer__90194, .newMosaicStyle_ed53d8 .codeView_e4dd18, .attachment__06ca3 { /* Styling for attachments */
	border: none;
	background-color: transparent;
}

.attachmentContentItem__47a25 {
	background-color: var(--background-tertiary);
	box-shadow: var(--box-shadow);
	border-radius: 8px;
}

.hoverButtonGroup__304b2.nonMediaAttachment_ef83c1 {
	outline: none;
	top: 8px;
	right: 8px;
	background-color: transparent;
}

#emoji-picker-tab-panel .searchBar__57f39 { /* Emoji picker search bar */
	box-shadow: var(--box-shadow);
}

.embedFull__14919 { /* Styling for embeds */
	background-color: var(--background-tertiary);
	box-shadow: var(--box-shadow);
}

.wrapper__4e6b6, .reaction_ef7e09 { /* Styling for message buttons and reactions */
	background-color: var(--background-tertiary);
	box-shadow: var(--box-shadow);
}

.wrapper__57349 {   /* Box shadow for "Follow to get this channel's updates in your own server." wrapper */
	box-shadow: var(--box-shadow);
}

.searchFilter_dbda51, .searchAnswer__2ccaf { /* Search options in search bar */
	background-color: var(--background-primary) !important;
}
