/* Eris logos */
@import url(https://raw.githubusercontent.com/ErnestoTheGamer/Eris-Reborn/main/src/eris-logos-pfps.css);

/* BetterDiscordAddons Settings Icons */
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);

:root, .theme-dark, .theme-light {
    --font: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;

    --settingsicons: 1;

    --font-primary: var(--font);
    --font-display: var(--font);

    --brand-experiment: hsl(235, 85%, 65%);
    --brand-500: var(--brand-experiment);
    --control-brand-foreground-new: var(--brand-experiment);
    --brand-experiment-560: hsl(235, 70%, 60%);
    --brand-experiment-600: hsl(235, 55%, 54%);
    --background-secondary: var(--background-primary);
    --background-secondary-alt: var(--background-primary);
    --background-modifier-selected: var(--background-tertiary);
    --background-floating: var(--background-tertiary);
    --channeltextarea-background: var(--background-tertiary);
    --input-background: var(--background-tertiary);
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: transparent;
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;
    --modal-background: var(--background-primary);
    --modal-footer-background: var(--background-primary);
    --deprecated-card-bg: var(--background-tertiary);
    --deprecated-text-input-border: none;
    --box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    --elevation-high: var(--box-shadow);
    --elevation-stroke: var(--box-shadow);
    --dark-elevation-border: var(--box-shadow);
    --dark-elevation-high: var(--box-shadow);
    --dark-elevation-low: var(--box-shadow);
    --search-popout-option-fade: transparent;
    --search-popout-option-fade-hover: transparent;
}

.theme-dark {
    --background-primary: #1f2125;
    --background-tertiary: #14161a;
    --text-normal: #ffffff;
    --text-muted: #9b9b9b;
    --channels-default: #b8b8b8;
}

.theme-light {
    --background-primary: #f5f5f5;
    --background-tertiary: #cccccc;
    --channels-default: #1a1a1a;
    --text-normal: #000000;
    --text-muted: #6e6e6e;
}

/* SETTINGS SECTION */

:root .info__2debe .text-xs-normal__46d75:first-child:before { /* Eris theme information at the bottom of the Settings sections */
    text-transform: none;
    content: "Eris Reborn v2.1";
    display: block;
}

:root .sidebarRegionScroller__23e6b { /* Settings sidebar background and selected options color */
    background-color: var(--background-tertiary);
}

.searchBar_c7e907 { /* Removes searchbar in settings */
    display: none;
}

.side_b3f026 .themed_b3f026.selected_b3f026.item_b3f026 {
    background-color: var(--brand-experiment);
}

.side_b3f026 .themed_b3f026.selected_b3f026.item_b3f026:hover:not(.disabled-1nofHP) {
    background-color: var(--brand-experiment);
}

.accountProfileCard__1fed1, .bioTextArea__6a919, .input__0f084:not(.note_c90ad7 .textarea_dde0a8, .multiInputField-1zyopx, .note-3TX9O7 .textarea_dde0a8, .title_d9be46), .lookFilled__3f413.select__3f413, .itemFilled__001a7[aria-checked=true], .feedback_fa4f12 { /* Box shadow for various boxes in Settings */
    box-shadow: var(--box-shadow);
}

:root .footerSeparator-VzAYwb {
    box-shadow: none;
}

.popout__3f413, .formNotice_f43ba5.cardPrimary-3qRT__.card-16VQ8C, .authedApp__50a54, .connection_c7f964, .connectContainer_c7f964, .guilds__66a9b .cardWrapper_aae012, :root .codeRedemptionRedirect_a706ba, .cameraWrapper_d41d5f, .cardWrapper_aae012 .card_aae012 { /* Theming for dropdown menu and various cards */
    background-color: var(--background-tertiary);
    box-shadow: var(--box-shadow);
    border: none;
}

.option__3f413[aria-selected=true]:not(.option__3f413.multi__3f413) { /* Removes background of selected item in dropdown menu */
    background-color: transparent;
}

.connectionHeader_c7f964 { /* Theming for Connections section in Settings */
    background: transparent;
}

.connectionList_c7f964 {
    grid-gap: 8px;
}

.metadataContainer_c7f964, .container-QlmnKJ {
    padding: 0 16px;
    margin: 0;
}

.bd-addon-list .bd-addon-card { /* Theming for BetterDiscord settings section */
    background: var(--background-tertiary);
    box-shadow: var(--box-shadow);
    padding: 0px 16px 16px;
}

.bd-addon-list .bd-addon-header {
    background: transparent;
    padding: 16px 0;
}

.bd-description-wrap, .bd-footer {
    background: var(--background-primary);
}

.bd-description-wrap {
    padding-top: 16px;
    border-radius: 5px 5px 0px 0px;
}

.bd-button:not(.bd-button-danger), .bd-addon-views .bd-view-button.selected {
    background-color: var(--brand-experiment);
}

/* FRIENDS SECTION */

.channel__972a0.container_e45859[aria-posinset="2"] { /* Disables Nitro button in Friends page */
    display: none;
}

.searchBar__35e86 { /* Conversartion search box weird bottom border fix */
    box-shadow: none;
}

.topPill_b3f026 .themed_b3f026.selected_b3f026.item__133bf { /* Box shadow for selected tab under Friends */
    box-shadow: var(--box-shadow);
}

.topPill_b3f026 .item__133bf { /* Gives top tabs in Friends enough room for box shadow */
    margin: 8px 8px;
}

.container__9293f .upperContainer_fc4f {
    padding: 4px 0;
}

.container__133bf .container__9293f {
    padding: 0 8px;
}

.interactive_bf202d.selected_bf202d { /* Box shadow for selected DM */
    box-shadow: var(--box-shadow);
}

.topPill_b3f026 .themed_b3f026.item__133bf.selected_b3f026:hover:not(.disabled-1nofHP) {
    background-color: var(--background-tertiary);
}

.privateChannels__35e86 .scroller__99e7c.thin__99f8c.scrollerBase__99f8c.fade__99f8c { /* Gives DM list enough room for box shadow to display fully */
    padding-right: 4px !important;
}

.interactive_bf202d.selected_bf202d { /* Fix selected DM color on hover */
    background-color: var(--background-tertiary);
    color: var(--interactive-active);
}

ul.content__99f8c[aria-label="Direct Messages"]:nth-child(2) .interactive_bf202d.selected_bf202d, ul.content__99f8c[aria-label="Direct Messages"]:nth-child(4) .interactive_bf202d.selected_bf202d { /* Fix Friends and Shop buttons color weirdness */
    background-color: var(--background-tertiary) !important;
    color: var(--interactive-active) !important;
}

.peopleColumn__133bf .searchBar__5ec2f { /* Friends search box shadow */
    box-shadow: var(--box-shadow);
}

.nowPlayingColumn__133bf .itemCard__7e549, :root .outer_bf1984.active_bf1984, :root .outer_bf1984.interactive_bf1984:hover { /* Theming for Active Now cards */
    background-color: var(--background-tertiary);
    border: none;
    box-shadow: var(--box-shadow);
    margin-top: 16px;
}

.nowPlayingColumn__133bf .itemCard__7e549 .section__00943, :root .inset_bf1984 { 
    background-color: transparent;
}

.scroller__7d20c { /* Removes divider between Friends and Active Now */
    border-left: none;
}

.root__49fc1 { /* User profile modal box shadow */
    box-shadow: var(--box-shadow) !important;
}

.container__55c99 { /* Search popout box shadow */
    box-shadow: var(--box-shadow);
}

.channelTextArea_f75fb0.channelTextArea__74017, .searchBar__97492 { /* Message text field and message search bar box shadow */
    box-shadow: var(--box-shadow);
}

.button__67645.enabled__67645:hover, .button_e131a9.buttonColor_e131a9:hover, .withTagAsButton_b2ca13:hover { /* Hover background and box shadows on user buttons */
    background-color: var(--background-tertiary);
    box-shadow: var(--box-shadow);
}

#popout_9007.layer_da8173, .overlayBackground_c69a7b { /* Box shadow for user profile popout */
    box-shadow: var(--box-shadow);
}

.userPopoutOuter_c69a7b { /* Box shadow for own user profile */
    box-shadow: var(--box-shadow);
}

/* CHANNELS */

:root .autocomplete__13533 { /* Mentions menu background and shadow */
    background-color: var(--background-tertiary);
    box-shadow: var(--box-shadow);
}

.container__841c8 .replyBar__841c8, .container__841c8 .threadSuggestionBar__841c8 { /* Styling for reply bar above text box */
    background-color: var(--background-tertiary);
    border: none;
}

.container__841c8 { /* Box shadow for reply bar above text box */
    box-shadow: var(--box-shadow);
}

.containerDefault_c69b6d.wrapper__2ea32.modeSelected__2ea32 { /* Styling for selected channel or thread */
    box-shadow: var(--box-shadow);
    border-radius: 0 4px 4px 0;
    border: none;
}

.selected__91a9d.container__91a9d .layout__91a9d { /* Styling for selected user in channel */
    box-shadow: var(--box-shadow);
    margin-right: 8px;
}

.container__91a9d .layout__91a9d:hover { /* Box shadow for hovered user in channel */
    margin-right: 8px;
}

.browser_d98031 .header_d9c882 { /* Styling for Threads popup */
    background-color: var(--background-primary);
}

.searchBox_d9c882.container__33507, .container__6764b:hover {
    background-color: var(--background-tertiary);
    box-shadow: var(--box-shadow);
    border: none;
}

.container__9271d, .card_aae012, .submitContainer_fb64c9 .channelTextArea_fb64c9.channelTextArea__74017, div.container_b7e1cb .wrapper_d5f3cd { /* Styling for threads preview, first message card, and server invites */
    background-color: var(--background-tertiary);
    box-shadow: var(--box-shadow);
}

.jumpToPresentBar__0f481 .barButtonMain__0f481 { /* Styling for jump to present bar */
    display: none;
}

.jumpToPresentBar__0f481 .barButtonAlt__0f481 {
    /* TODO add hover like reply button */
}

.jumpToPresentBar__0f481 {
    background-color: var(--background-tertiary);
    box-shadow: var(--box-shadow);
    margin-bottom: 16px;
    padding: 4px;
    border-radius: 8px;
    opacity: 1;
    left: initial;
}

.jumpToPresentBar__0f481:active {
    margin-bottom: 15px;
}

:root .spoilerContent__54ab5.hidden__54ab5, .markup__75297 code { /* Styling for code blocks and spoilers */
    background-color: var(--background-tertiary);
    box-shadow: var(--box-shadow);
}

.markup__75297 blockquote, .markup__75297 pre {
    margin-bottom: 8px;
}

:root .spoilerContent__54ab5.hidden__54ab5:hover {
    background-color: var(--background-modifier-hover);
}

.newMosaicStyle__4d95d .textContainer__4d95d, .newMosaicStyle__4d95d .footer__4d95d, .newMosaicStyle__4d95d .codeView__4d95d, .fileWrapper__0ccae .file__0ccae { /* Styling for attachments */
    background-color: var(--background-tertiary);
    box-shadow: var(--box-shadow);
    border: none;
}

.hoverButtonGroup__06ab4 { /* Styling for hover buttons above attachments */
    box-shadow: var(--box-shadow);
}

.attachmentContentItem__47a25, .wrapperAudio_f316dd.newMosaicStyle_f316dd {
    background-color: var(--background-tertiary);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    border: none;
}

.hoverButtonGroup__06ab4.nonMediaAttachment_ef83c1 {
    outline: none;
    top: 8px;
    right: 8px;
    background-color: transparent;
}

.contentWrapper__08434 { /* Emoji, gif & more box shadow */
    box-shadow: var(--box-shadow);
}

#emoji-picker-tab-panel .searchBar_c0e32c { /* Emoji picker search bar */
    box-shadow: var(--box-shadow);
}

.embedWrapper_b7e1cb, .wrapperAudio_cf09d8, .pollContainer_b7e1cb, .embed_f69538 { /* Styling for embeds */
    background-color: var(--background-tertiary) !important;
    box-shadow: var(--box-shadow);
}

.embedFull__623de { /* Fix for hyperlink embeds not showing border colors */
    border-left: 4px solid;
}

.embedFlexGrow_b7e1cb {
    background-color: var(--background-tertiary);
}

.popoverReactionHoverBar_f84418, .popoverReactionHoverBar_f84418:hover {
    border: none;
}

.wrapper_f7ecac, .reaction__23977.reactionMe__23977 { /* Styling for message buttons and reactions */
    background-color: var(--background-tertiary);
    box-shadow: var(--box-shadow);
}

.wrapper__44df5 { /* Box shadow for "Follow to get this channel's updates in your own server." wrapper */
    box-shadow: var(--box-shadow);
}

.header__0b563, .container__0b563, .scrollerContainer_c6b11b, .container_c2efea { /* Background color for channel browsing page */
    background-color: var(--background-primary) !important;
}

.search__41ed7.container__33507.medium__5b9a9, .container_c2efea .container_bc0d35, .optionButtonWrapper__270d7  { /* Styling for channel browsing search bar and cards */
    background-color: var(--background-tertiary);
    box-shadow: var(--box-shadow);
    border: none;
}

.searchFilter_bd8186, .searchAnswer_bd8186 {
    background-color: var(--background-tertiary) !important;
}

/* FORUM CHANNELS SECTION */

.list_f369db, .title_f75fb0 { /* Styling for top bar in forum channels */
    background-color: var(--background-primary) !important;
}

.container_f369db { /* Styling for forum background */
    background-color: var(--background-primary);
}

.mainCard_f369db.container__9a337, .mainCard_f369db.container_faa96b { /* Styling for forum posts */
    background-color: var(--background-tertiary);
    box-shadow: var(--box-shadow);
    border: none;
}

.children__9293f::after { /* Styling for weird fading element */
    display: none;
}

.header_f369db, .matchingPostsRow_f369db { /* Styling for posts in forum channels */
    background-color: var(--background-tertiary);
}

/* VENCORD SETTINGS SECTION */

.vc-settings-card, .vc-plugins-info-card, .vc-settings-quickActions-card, .vc-addon-card { /* Styling for Vencord setting cards */
    background-color: var(--background-tertiary) !important;
    box-shadow: var(--box-shadow);
}

.vc-settings-quick-actions-card { /* Styling for Vencord quick action cards */
    border: none;
}

.vc-settings-quickActions-pill {
    background-color: var(--background-tertiary) !important;
}
